
body{
    background-color: #adb5bd;
    margin: 0;
    padding: 0;
}

h2{
  margin-left: 10px;
  margin-right: 10px;
}

@media (min-width: 1000px){
.main{
  display: flex;
  justify-content: space-between;
}

.menuSelectors{
  margin-right: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-around;
}

.content{
  width: 99%;
}

}

.main{
  background-color: #212529;
  font-family: Permanent Marker;
}

.title{
  margin-left: 20px;
}

.logo{
  width: 200px;
  height: auto;
  margin-top: 7px;
}

.main a:link{
  color: #adb5bd;
  text-decoration: none;
}

.main a:visited{
  color: #adb5bd;
  text-decoration: none;
}

.main a:active{
  background-color: #343a40;
  color: #fff;
  border-radius: 10px;
  transition: .5s ease;
}

.menuSelectors a:hover{
  background-color: #343a40;
  color: #fff;
  border-radius: 10px;
  transition: .5s ease;
}

.header{
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  font-family: Permanent Marker;
  position: absolute;
}

.header a:link{
  color: #adb5bd;
  text-decoration: none;
}

.header a:visited{
  color: #adb5bd;
  text-decoration: none;
}

.header a:hover{
  background-color: #ced4da;
  color: #fff;
  border-radius: 10px;
  transition: .5s ease;
}

.container{
  margin-top: 10px;
  font-family: Permanent Marker;
  position: relative;
}

.content{
  background-color: #fff;
  border-radius: 10px;
}

.front{
  border-radius: 10px;
  width: 100%;
}

.footer{
  height: 50px;
  background-color: #343a40;
  margin-top: 10px;
}
