
body{
    background-color: #adb5bd;
    margin: 0;
    padding: 0;
}

h2{
  margin-left: 10px;
  margin-right: 10px;
}




@media (min-width: 1000px){
.headerItems{
  display: flex;
  justify-content: space-between;
}

.menuSelectors{
  margin-right: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-around;
}


.title{
  margin-left: 20px;
}

.dropdown{
  display: none;
  transition: .5s ease;
}

.nav, .details{
  position: absolute;
}

.container{
  position: relative;
}

.bgImage{
  width: 99%;
  margin-left: 0.5%;
}

.grid-container{
  grid-template-columns: 49% 49%;
}

.menuItem{
  padding-top: 4px;
}

}

@media (max-width: 1000px){
  .headerItems{
      width: 50%;
      margin: auto;
  }

  .menuItem{
    text-align: center;
  }

  .dropdown{
    font-size: 20pt;
    margin-top: 20px;
    margin-left: 10px;
  }

  .showMenuFalse{
    display: none;
  }

  .menuSelectors{
    padding-bottom: 10px;
  }


  .container{
    background-color: #fff;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 10px;
  }

  .grid-item{
    background-color: #fff;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 10px;
  }

  .grid-container{
    grid-template-columns: 98%;
  }

}



.icons{
  display: flex;
  justify-content: space-around;
}

.header{
  background-color: #212529;
  font-family: 'Josefin Sans';

}


.logo{
  width: 200px;
  height: auto;
  margin-top: 7px;
}



.header a:link{
  color: #adb5bd;
  text-decoration: none;
}

.header a:visited{
  color: #adb5bd;
  text-decoration: none;
}

.header a:active{
  background-color: #343a40;
  color: #fff;
  border-radius: 10px;
  transition: .5s ease;
}

.menuSelectors a:hover{
  background-color: #343a40;
  color: #fff;
  border-radius: 10px;
  transition: .5s ease;
}



.nav{
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  font-family: 'Josefin Sans';
}

.nav a:link{
  color: #adb5bd;
  text-decoration: none;
}

.nav a:visited{
  color: #adb5bd;
  text-decoration: none;
}

.nav a:hover{
  background-color: #ced4da;
  color: #fff;
  border-radius: 10px;
  transition: .5s ease;
}

.container{
  margin-top: 10px;
  font-family: 'Josefin Sans';
}

.bgImage{
  border-radius: 10px;
}

.front{
  border-radius: 10px;
  width: 100%;
}

.grid-container{
  display: grid;
  justify-content: space-around;
}

.grid-item{
  margin-top: 10px;
}

#suite2{
  display: none;
}

#dxSuite2 {
  display: none;
}

.details{
  z-index: 1;
}

.footer{
  height: 50px;
  background-color: #343a40;
  margin-top: 10px;
}
